<% breadcrumb :product %>

<%= render "shared/header" %>

<%# 開発商品の概要 %>
<div class="product-show">
  <div class="product-box">
    <h2 class="name">
      <%= @product.name %>
    </h2>
    <div class="product-img-content">
      <%= image_tag @product.image ,class:"product-box-img" %>
    <div class="product-text">
      <span class="product-show-description">
        <%= @product.description %>
      </span>
    </div>
  </div>

  <%# コメント欄 %>
  <div class="comment-box">
    <% if customer_signed_in? %>
      <%= form_with model: [@product, @comment], id: "comment-form" do |f| %>
        <%= f.text_area :comment, class:"comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit "コメントする", class:"comment-btn" %>
      <% end %>
    <% end %>
  </div>

  <%# コメント表示欄 %>
  <div id="comments" class="comments">
    <h4>＜コメント一覧＞</h4>
    <% @product.comments.each do |comment| %>
      <div class="comment">
        <div class="customer-info">
          <p class="customer-names"><%= comment.customer.nickname %> : </p>
          <div class="chatting">
            <div class="customer-comment">
              <p><%= comment.comment %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
