<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @product.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @product.image ,class:"item-box-img" %>
    <div class="item-price-box">
      <span class="item-price">
        <%= @product.description %>
      </span>
    </div>
  </div>

  <%# コメント欄 %>
  <div class="comment-box">
    <% if customer_signed_in? %>
      <%= form_with model: [@product, @comment], id: "comment-from" do |f| %>
        <%= f.text_area :comment, class:"comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit "コメントする", class:"comment-btn" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
